@import '@/styles/_common.scss';

.logo {
  width: 25rem;
  height: 11rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 10rem;
    height: 8rem;
  }
}
