@use '@/styles/_variables.scss' as *;

.item {
  margin: 1rem 0.5rem;
  transition: all 0.2s;

  display: flex;
  flex-direction: column;

  $size: 15.5rem;
  width: 100%;

  &Image {
    margin: 0.2rem 0;

    width: 100%;
    height: $size;

    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Info {
    margin: 0.4rem 0;

    .infoName {
      margin: 0.2rem;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .infoAddress {
      margin: 0.4rem 0;
    }

    .infoPrice {
      margin: 0.4rem 0;
      div {
        display: inline-block;
      }
    }
  }

  &:hover {
    cursor: pointer;

    img {
      opacity: 0.8;
    }
  }
}
