@import '@styles/_variables.scss';
@import '@styles/_common.scss';

.container {
  background-color: white;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 4.95rem;

  @include flex(row);

  &.border {
    border-bottom: 0.1rem solid $gray400;
  }

  .inner {
    width: 1080px;

    font-size: 3.6rem;

    display: flex;
    justify-content: space-between;

    .logo {
      padding-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    .buttons {
      display: flex;
      justify-content: end;
      align-items: center;

      padding-right: 20px;

      .buttons:last-child {
        padding-right: 0;
      }

      @include tablet {
        display: none;
      }
    }

    .hamBurgerMenu {
      display: none;

      @include tablet {
        display: flex;
      }
    }

    .menuIcon {
      display: none;

      align-items: center;
      justify-content: center;

      margin: 0 15px 0 15px;

      cursor: pointer;

      @include tablet {
        display: flex;
        font-size: 30px;
      }
      @include mobileM {
        font-size: 20px;
      }
    }
  }
}

.dropMenu {
  position: sticky;
  top: 4.95rem;
  display: none;

  z-index: 1010;

  background-color: white;

  .buttons {
    @include flex(row);
    height: 100%;
  }

  .columns {
    @include flex(row);
    height: 3rem;
    width: 100%;

    border-top: 1px solid $gray400;
  }

  .columns:last-child {
    border-bottom: 1px solid $gray400;
  }

  @include tablet {
    @include flex(column);
  }

  @include mobileM {
    font-size: 20px;
  }
}
