@import '@styles/_variables.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.95rem;

  font-size: 3.6rem;

  display: flex;
  justify-content: space-between;

  background-color: white;

  &.border {
    border-bottom: 0.1rem solid $gray400;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;

  margin-left: 11.25rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 11.25rem;

  &.child {
    margin-right: 4rem;
  }
}
