.inputStyle {
  display: inline-flex;
  height: 25px;
  padding: 16px 46px 15px 18px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  justify-content: center;
  border-radius: 24px;

  input {
    border: 1px solid #b1b1b1;
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: 10px;

    &:focus {
      border-color: black;
      outline: none;
    }
  }

  .inputStyle {
    color: gray;
  }
}
