.input {
  display: inline-flex;
  height: 1.5625rem;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
  justify-content: center;
  border-radius: 1rem;

  &.login {
    width: 42rem;
    padding: 0.5rem 0.75rem;

    &:focus {
      border-color: black;
      outline: none;
    }
  }

  &.reservation {
    border: 0.0625rem solid #b1b1b1;
    padding: 0.75rem 2.875rem 0.75rem 1.125rem; //1.125rem은 좌측 아이콘 자리를 위해 짧게 측정한 것
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
    width: 25rem;

    &:focus {
      border-color: black;
      outline: none;
    }
  }

  .inputStyle {
    color: gray;
  }
}
