@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';
.textWrapper {
  font-size: 16px;
  @include mobileM {
    font-size: 14px;
  }
  @include mobileS {
    font-size: 12px;
  }
}
.Text {
  &.xs-5 {
    font-size: 0.625em;
  }
  &.xs-4 {
    font-size: 0.75em;
  }
  &.xs-3 {
    font-size: 0.875em;
  }
  &.xs-2 {
    font-size: 1em;
  }
  &.xs {
    font-size: 1.125em;
  }
  &.sm {
    font-size: 1.25em;
  }
  &.md {
    font-size: 1.5em;
  }
  &.xl {
    font-size: 2.25em;
  }
  &.lg {
    font-size: 2em;
  }
  &.xl-2 {
    font-size: 4em;
  }
  &.thin {
    font-weight: 200;
  }
  &.light {
    font-weight: 300;
  }
  &.normal {
    font-weight: 400;
  }
  &.medium {
    font-weight: 500;
  }
  &.semibold {
    font-weight: 600;
  }
  &.bold {
    font-weight: 700;
  }
  &.extrabold {
    font-weight: 800;
  }
  &.primary {
    color: $primary;
  }
  &.gray400 {
    color: $gray400;
    opacity: 80%;
  }
  &.blackAlpha100 {
    color: $blackAlpha100;
    opacity: 48%;
  }
  &.sub {
    color: $sub;
  }
  &.red200 {
    color: $red200;
  }
  &.gray200 {
    color: $gray200;
  }
  &.gray300 {
    color: $gray300;
  }
  &.red100 {
    color: $red100;
  }
  &.green {
    color: $green;
  }
  &.highlight {
    color: $highlight;
  }
  &.black {
    color: $black;
  }
  &.gray100 {
    color: $gray100;
  }
  &.blackAlpha200 {
    color: blackAlpha100;
    opacity: 64%;
  }
  &.white {
    color: white;
  }
  &.line-through {
    text-decoration: line-through;
  }
}
