.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.leftContent {
  display: flex;
  max-width: 770px;
  flex-direction: column;
  margin-left: 0;
  align-items: flex-start;
}
