@use '@styles/_variables.scss' as vars;
@import '@/styles/_common.scss';

.container {
  @include mobileM {
    width: auto;
    margin: 1.5rem;
  }
}

.mainContent {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.leftContent {
  display: flex;
  max-width: 770px;
  flex-direction: column;
  margin-left: 0;
  align-items: flex-start;
}
