@use '@/styles/_variables.scss' as *;

.categoryItem {
  background-color: $background-gray;

  &.active {
    background-color: $highlight;
  }

  margin: 0.3rem;
  padding: 0.3rem 0.8rem;

  border-radius: 1.25rem;
  flex-shrink: 0;

  &:hover {
    cursor: pointer;
  }
}
