.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}
.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e5e5e5;
}
