@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';

.cartItem {
  width: 100%;
  height: 8.125rem;

  border: 1px solid $gray;
  padding: 0.5rem 0.2rem 0.5rem 0.25rem;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;

  @include tablet {
    display: none;
  }
}

.mobileCartItem {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 100%;

    border: 1px solid $gray;
    padding: 0.5rem 0.2rem 0.5rem 0.5rem;
    box-sizing: border-box;
  }
}
.mobileNameInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 0.5rem;
}
.mobileName {
  @include flex(row);
  gap: 0.5rem;
}
.mobileImageInfo {
  display: flex;
  gap: 1rem;
}
.mobilePriceInfo {
  align-self: flex-end;
  margin-right: 0.5rem;
}
.mobileDetailInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.subCartInfo {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.itemInfo {
  width: 35.625rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.imageInfo {
  display: flex;
  gap: 1rem;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.accommodationImage {
  border-radius: 0.5rem;
}
