@use '@styles/_variables.scss' as vars;
@import '@/styles/_common.scss';

.right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.content {
  width: 100%;

  @include mobileM {
    width: auto;
    padding: 0.8rem;
  }

  @include mobileS {
    overflow-x: hidden;
    padding: 0.8rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  align-items: flex-start;
  flex-wrap: nowrap;

  .item {
    margin-bottom: 1rem;
  }
}

.reservationCard {
  border: 1px solid #b1b1b1;
  width: 100%;
  max-width: 770px;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 1rem;

  &.reservationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .itemPrice {
      font-weight: bold;
      color: #000;
    }
  }
}

.parts {
  margin-bottom: 2rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.terms {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkboxContainer {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.checkboxContainer span {
  margin-left: 5px;
}

.booker {
  margin-bottom: 1rem;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.sameLine {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.sameLine > * {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.grayLine {
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imageInfo {
  display: flex;
  gap: 1rem;
}

.accommodationImage {
  border-radius: 0.5rem;
}

.reservationItemContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
