$primary: #222222;
$sub: #4e4e4e;
$gray: #e5e5e5;
$highlight: #726bd7;
$background-gray: #f5f5f5;
$error: #ff6565;
$success: #38a169;
$gray400: #cccccc;
$gray200: #e5e5e5;
$gray300: #e5e5e5;
$blackAlpha100: #000000;
$red100: #ff6565;
$red200: #e53e3e;
$green: #38a169;
$highlight: #726bd7;
$black: #222222;
$gray100: #f5f5f5;
$blackAlpha200: rgba(255, 255, 255, 0.5);
