@use '@/styles/_variables.scss' as *;

.mobile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &text {
    padding: 2rem 1rem;
    background-color: $gray;
    border-radius: 1rem;
    text-align: center;
  }
}
