@use '@/styles/_variables.scss' as *;

.frame {
  width: 100%;
  border-bottom: solid 2px $gray;

  position: sticky;
  top: 4.95rem;
  z-index: 1;

  background-color: white;

  .category {
    margin: auto;
    padding: 2rem;
    max-width: 55rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
