@import '@/styles/common.scss';
@import '@styles/_variables.scss';

.title {
  width: 100%;
  @include flex(row);
  margin-top: 1.25rem;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.selectContainer {
  border-bottom: 2px solid $gray;
  margin-bottom: 1.5rem;
  margin-top: 2.3rem;
}

.container {
  width: 100%;
  @include flex(column);
  gap: 2rem;
  margin-top: 6rem;
}
