@import '@/styles/common.scss';

.title {
  width: 100%;
  @include flex(row);
  margin-top: 1.25rem;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.selectContainer {
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 1.5rem;
  margin-top: 2.3rem;
}

.container {
  width: 100%;
  @include flex(row);
  margin-top: 4rem;
}
