@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  height: 3.125rem;

  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  gap: 0.5rem;

  border-radius: 0.5rem;
  outline: none;

  &.signRegular {
    width: 23.5rem;
    padding: 0 0.75rem;
    background-color: white;
    border: 1px solid $gray400;

    @include tablet {
      width: 20rem;
    }
    @include mobileM {
      width: 10.75rem;
      height: 2.5rem;
    }
  }

  &.signShort {
    width: 18.4rem;

    padding: 0 0.75rem;
    margin: 0;

    background-color: white;
    border: 1px solid $gray400;
    color: $black;
    @include tablet {
      width: 15rem;
    }
    @include mobileM {
      width: 5.75rem;
    }
  }

  &.reservation {
    padding: 0.75rem 2.875rem 0.75rem 1.125rem; //1.125rem은 좌측 아이콘 자리를 위해 짧게 측정한 것
    width: 32rem;
    height: 0.7rem;
    border-radius: 0.2rem;
    color: black;
    gap: 0;

    border: 0.0625rem solid $gray400;
    color: $black;
    @include tablet {
      width: 17rem;
      height: 1rem;
    }
    @include mobileM {
      width: 15rem;
      height: 1rem;
    }
  }

  &.invalid {
    border: 1.5px solid $red200;
  }

  &:focus {
    border-color: $black;
  }
}

.password-toggle {
  position: absolute;
  right: 3%;

  cursor: pointer;
}
