.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e5e5e5;
}
.allSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.cartContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-bottom: 10rem;
}
