@import '@styles/_variables.scss';

.loader {
  display: flex;
  justify-content: center;
  &.lg {
    padding: 3rem;
  }
  &.sm {
    padding: 2rem;
  }
  .spinner {
    &.lg {
      $size: 4rem;
      width: $size;
      height: $size;
    }
    &.sm {
      $size: 2rem;
      width: $size;
      height: $size;
    }

    border: 0.5rem solid $gray;
    border-top: 0.5rem solid $highlight;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
