@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';

.button {
  border-radius: 0.5rem;
  @include flex(row);
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  padding: 0;
  &.default {
    background-color: $primary;
  }
  &.xl {
    width: 48.125rem;
    height: 3.125rem;
  }
  &.lg {
    width: 25.125rem;
    height: 3.25rem;
    @include tablet {
      width: 17rem;
      height: 3rem;
    }
    @include mobileM {
      width: 12.5rem;
      height: 2.5rem;
    }
  }
  &.md {
    width: 11.5rem;
    height: 3rem;
  }
  &.sm {
    width: 4.625rem;
    height: 3.125rem;
  }
  &.xs {
    width: 2.75rem;
    height: 1.875rem;
  }

  &.secondary {
    width: 3.875rem;
    height: 3rem;
    border: 1px solid #b0b0b0;
  }
  &.text {
    &.underline {
      &.primary {
        &:hover {
          text-decoration: underline;
          text-decoration-color: $primary;
        }
      }
      &.highlight {
        &:hover {
          text-decoration: underline;
          text-decoration-color: $highlight;
        }
      }
    }
    &.none {
      &:hover {
        text-decoration: none;
      }
    }
    &.disabled {
      cursor: auto;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
  &.default {
    &.disabled {
      background-color: #cccccc;
      cursor: auto;
    }
  }
}
