@import '@styles/_variables.scss';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 140px;

  border-top: 3px solid $gray;

  background-color: white;

  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    .footerChild {
      margin-left: 5px;
      .textBox {
        cursor: pointer;
      }
    }
  }
}
