@use '@styles/_variables.scss' as vars;

.container {
  width: 770px;
  height: 800px;
  // border: 1px solid red;
  margin: 0 auto;
}

.logo {
  width: 400px;
  height: 200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  height: 480px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer input {
  flex: 1; /* input 요소가 남은 공간을 모두 차지하도록 설정 */
  margin-bottom: 0.5rem; /* input 아래 여백 조정 */
  /* 추가적인 스타일링을 원하시면 여기에 작성하세요 */
}

.inputContainer button {
  margin-left: 0.5rem; /* 버튼과 input 사이 여백 조정 */
  /* 추가적인 스타일링을 원하시면 여기에 작성하세요 */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;

  border-top: 3px solid vars.$gray;
  background-color: white;

  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .footerChild {
      margin-left: 5px;
    }
  }
}
