.body {
  height: 100rem;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;

  font-size: 3.6rem;

  display: flex;
  justify-content: space-between;

  background-color: white;
  border-bottom: 0.1rem solid #cacaca;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;

  margin-left: 18rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  margin-right: 18rem;
}

.buttons-child {
  cursor: pointer;
  margin-right: 4rem; /* 로그인 버튼 오른쪽 여백 설정 */
  font-size: 1.6rem;
}
