@import '@styles/_common.scss';

.title {
  width: 100%;
  margin-top: 1.25rem;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 0.5rem;

  @include tablet {
    width: 90%;
    margin: 1.25rem auto 0 auto;
  }
}
