@import '@/styles/_variables.scss';
@import '@/styles/_common.scss';

.reservationItem {
  width: 100%;
  height: 8.125rem;

  border: 1px solid $gray;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  @include tablet {
    display: none;
  }
}
.mobileReservationItem {
  display: none;
  @include tablet {
    width: 90%;

    margin: 0 auto;
    border: 1px solid $gray;
    padding: 0.5rem 0.5rem 0.5rem 0.7rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }
}
.mobilePriceInfo {
  align-self: flex-end;
}
.itemInfo {
  width: 35.625rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageInfo {
  display: flex;
  gap: 1rem;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.accommodationImage {
  border-radius: 0.5rem;
}

.priceInfo {
  display: flex;
  align-items: end;
}
