@import '@/styles/_variables.scss';

.reservationItem {
  width: 100%;
  height: 8.125rem;

  border: 1px solid $gray;
  padding: 0.5rem 0.2rem 0.5rem 0.7rem;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}
.itemInfo {
  width: 35.625rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageInfo {
  display: flex;
  gap: 1rem;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.accommodationImage {
  border-radius: 0.5rem;
}

.priceInfo {
  display: flex;
  align-items: end;
}
