.form {
  width: 25rem;
  height: 30rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .info {
    margin-bottom: 1rem;
  }

  .inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 0.5rem;

    .inputContainer {
      display: flex;
      align-items: center;

      input {
        flex: 1;
        margin-bottom: 0.5rem;
      }

      button {
        margin-left: 0.5rem;
      }
    }
  }
  .signInBtn {
    margin-top: 0.5rem;
  }
}
