@import 'src/styles/_variables.scss';
.modal {
    z-index: 999;
    background-color: $primary;
    position: absolute;
    bottom: -2rem;
    width: 16rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 85%;

    
}

.modalDescLogin {
    color: $highlight;
    cursor: pointer;
    font-weight: 700;
}

.modalDesc {
    font-size : 0.8rem;
    color: $highlight;
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.modalDescLogin{
    margin-right: 1rem;
}
