@import '@/styles/_variables.scss';
@import '@/styles/common.scss';

.cartFooter {
  height: 7rem;
  width: 100%;
  padding: 1rem 0.5rem;
  border-top: 2px solid $gray;

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;

  background-color: white;

  @include tablet {
    height: 6rem;
  }
}

.cartFooterContent {
  width: 48.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    width: 85%;
  }
}

.cartInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.cartTotalPriceInfo {
  @include flex(row);
  gap: 0.4rem;
}
